* {
  font-family: sans-serif;
}

.main-nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.main-nav li {
  display: inline-block;
  margin-right: 10px;
}

.main-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.main-nav li a:hover {
  background-color: #fff;
  color: #333;
}

.title {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.5;
}

.content p {
  display: flex;
  border: 3px solid;
  padding: 12px;
  border-radius: 4px;
}

.image {
  display: block;
  margin: 30px auto;
  width: 220px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  width: 60px;
}