body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  margin: 0 10px;
}

a {
  color: rgb(208, 47, 47);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 24px;
  margin-top: 20px;
}

form {
  max-width: 600px;
  margin: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 5vw;
  border: 1px solid #c12929;
  border-radius: 4px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

a[href^="mailto"] {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}